*{padding: 0; margin:0; box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
header{
    width: 100%;
    height: 100vh;
    background: linear-gradient (rgba(16, 172, 132,1.0));
}
.top-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 70px;
    background-color:  #17202a;
}
.s-icon i:first-child{
    background:     #abb2b9  ;
    color: black;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
}
.s-icon i{
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    margin: 0px 5px;
}
.s-icon i:hover{
    background:     #abb2b9 ;
    color: black;
    transition: 0.4s;

}
nav{
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding:10px 70px;

}
.logo{
    font-weight: bold;
    font-size: 25px ;
    letter-spacing: 2px;
    background-color: #abb2b9;
  
} 
.menu a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    /* background-color:  #abb2b9; */
}
.menu a:first-child{
    background-color:   #abb2b9 ;
    color: black;
}
.menu a:hover{
    background:   #abb2b9;
    color: white;
    transition: 0.4s;
}
.container{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 70px;
    background-color: #212f3d ;
}
.left{
    flex: basis 50%;
}
.right{
    /* flex: basis 100%; */
    text-align: center;  
    background-color: #17202a ;  
    color: white;
    
}
.left h1{
    font-size: 4rem;
}

.left h1 span{
    color: white;
    background: 0px 15px;
    border-radius: 5px;
}
.left p{
    margin: 30px 40px;
    line-height: 2rem;
}
.left button{
    padding: 10px 20px;
    border: none;
    outline: none;
    background:     #abb2b9;
    color: white;
    border-radius: 5px;
}
#btn2{
    padding: 10px 20px;
    border: 1px solid  #abb2b9   ;
    outline: none;
    background:  #abb2b9 ;
    color: black;
    margin-left: 10px;
    border-radius: 5px;

}
.email{
    color: white;
}



